@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    overflow-x: hidden;
} 

header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem;
background-color: #ececec;
width: 100%;
}

.logo{
    max-width: 15rem;
}
    @keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}}
.logo{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 10%;

}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.card-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: #000000;
}
.abrir-menu-left, .abrir-menu-right, .cerrar-menu {
    display: none;
/*         border: 0;
    font-size: 1.6rem;
    background-color: #ececec;
    cursor: pointer; */
}

h1{
    text-align: center;
}
@media screen and (max-width: 550px){
    .abrir-menu-left, .abrir-menu-right {
        width: auto;
        display: block;
        border: 0;
        font-size: 1.6rem;
/*         background-color: transparent; */
        cursor: pointer;
    }
    .abrir-menu-left{
        color: #1c1c1c;
    }
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.6rem;
        color: black;
        cursor: pointer;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

    #nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        left: 0;
    }
    .nav-list li a{
        text-decoration: none;
        color: #000000;
    }
    #cart.visible{
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
    }
    .cards{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .card-list{
        flex-direction: column;
        right: 0;
    }
    .box{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }
    .aboutbox{
display: block;
/*         flex-direction: block; */
        width: 100%;
        justify-content: center;
        margin: 5%;
        align-items: center;
    }
    .history{
        display: block;
/*         flex-direction: block; */
        width: 50%;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }
    .abouttext{
        margin-top: 2rem;
        display: flex;
        flex-direction: block;
        width: 100%;
        margin-left: 5%;
    }
    .aboutimg{
        display: flex;
        flex-direction: block;
        width: 50%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    .contacto{
                width: 100%;
                display: block;
                margin-top: 5%;
            }
    .formulario{
        width: 100%;
        margin-left: 10%;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    .preguntas{
        width: 100%;
        margin-left: 1%;
        margin-right: 25%;
        justify-content: center;
    }
    .imagenes{
        width: 100%;
        margin-right: 20%;
    }
    #contactForm{
        margin-left: 10%;
    }
    input{
        width: 70%;
        display: block;
    }
    .copyright{
        text-align: center;
    }
    .register{
        width: 100%;
        margin: 5%;
    }
    .inputregister{
        width: 50%;
        margin-top: 2%;
            gap: 5%;
            margin: 5%;
            /* margin: auto; */
            overflow-x: hidden;
    }
    .formregister{
        display: flex;
        
    }
    .pic{
        width: 50%;
    }
    .imgpic{
        width: 100%;
    }
}
@media screen and (max-width: 1250px){
    .abrir-menu-left, .abrir-menu-right {
        width: auto;
        display: block;
        border: 0;
        font-size: 1.6rem;
/*         background-color: transparent; */
        cursor: pointer;
    }
    .abrir-menu-left{
        color: #1c1c1c;
    }
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.6rem;
        color: black;
        cursor: pointer;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

    #nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        left: 0;
    }
    .nav-list li a{
        text-decoration: none;
        color: #000000;
    }
    #cart.visible{
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
    }
    .cards{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .card-list{
        flex-direction: column;
        right: 0;
    }
    .box{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }
    .aboutbox{
        display: block;
/*         flex-direction: block; */
        width: 100%;
        justify-content: center;
        margin: 5%;
        align-items: center;
    }
    .history{
        display: block;
/*         flex-direction: block; */
        width: 50%;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }
    .abouttext{
        margin-top: 2rem;
        display: flex;
        flex-direction: block;
        width: 100%;
        margin-left: 5%;
    }
    .aboutimg{
        display: flex;
        flex-direction: block;
        width: 50%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    .contacto{
                width: 100%;
                display: block;
                margin-top: 5%;
            }
    .formulario{
                width: 100%;
                margin-left: 10%;
                margin-right: 1%;
                margin-top: 1%;
                margin-bottom: 5%;
            }
    .preguntas{
        width: 100%;
        margin-left: 1%;
        margin-right: 25%;
        justify-content: center;
    }
    .imagenes{
        width: 100%;
        margin-right: 20%;
    }
    #contactForm{
        margin-left: 10%;
    }
    input{
        width: 70%;
        display: block;
    }
    .copyright{
        text-align: center;
    }
    .register{
        width: 100%;
        margin: 5%;
    }
    .inputregister{
        width: 50%;
        margin-top: 2%;
            gap: 5%;
            margin: 5%;
            /* margin: auto; */
            overflow-x: hidden;
    }
    .formregister{
        display: flex;
        
    }
    .pic{
        width: 50%;
    }
    .imgpic{
        width: 100%;
    }
}
@media screen and (max-width: 5000px){
    .abrir-menu-left, .abrir-menu-right {
        width: auto;
        display: block;
        border: 0;
        font-size: 1.6rem;
/*         background-color: transparent; */
        cursor: pointer;
    }
    .abrir-menu-left{
        color: #1c1c1c;
    }
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.6rem;
        color: black;
        cursor: pointer;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

    #nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        left: 0;
    }
    .nav-list li a{
        text-decoration: none;
        color: #000000;
    }
    #cart.visible{
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
    }
    .cards{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ececec;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .card-list{
        flex-direction: column;
        right: 0;
    }
    .box{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }
    .aboutbox{
        display: block;
/*         flex-direction: block; */
        width: 100%;
        justify-content: center;
        margin: 5%;
        align-items: center;
    }
    .history{
        display: block;
/*         flex-direction: block; */
        width: 50%;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }
    .abouttext{
        margin-top: 2rem;
        display: flex;
        flex-direction: block;
        width: 100%;
        margin-left: 5%;
    }
    .aboutimg{
        display: flex;
        flex-direction: block;
        width: 50%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    .contacto{
                width: 100%;
                display: block;
                margin-top: 5%;
            }
    .formulario{
    width: 100%;
    margin-left: 10%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 5%;
    }
    .preguntas{
        width: 100%;
        margin-left: 1%;
        margin-right: 25%;
        justify-content: center;
    }
    .imagenes{
        width: 100%;
        margin-right: 20%;
    }
    #contactForm{
        margin-left: 10%;
    }
    input{
        width: 70%;
        display: block;
    }
    .copyright{
        text-align: center;
    }
    .register{
        width: 100%;
        margin: 5%;
    }
    .inputregister{
        width: 50%;
        margin-top: 2%;
            gap: 5%;
            margin: 5%;
            /* margin: auto; */
            overflow-x: hidden;
    }
    .formregister{
        display: flex;
        
    }
    .pic{
        width: 50%;
    }
    .imgpic{
        width: 100%;
    }
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cont{
    display: flex;
    margin-top: 10%;
    gap: 5%;
    margin: 5%;
}


h3{
    justify-content: center;
/*     align-items: center; */
    display: flex;
    flex-direction: column;
} 
/* section{
    display: flex;
    
} */
.texto{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin: 10%;
    margin-top: 10%;
}
footer{
    border-top: 1px solid #eee;
    display: block;

}
.footercontainer{
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
}
.socialmedia{
    list-style: none;
    display: flex;
    float: right;
    margin-right: 5%;
    cursor: pointer;
}
.fb{
    width: 60px;
}
.inst{
    width: 90px;
}
.tw{
    width: 60px;
}

/* carrito */

#categories {
    text-align: center;
    margin: 1%;
}

#categories button {
    margin: 1%;
}
#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}
#cart {
    position: fixed; /* Fijar el carrito en su lugar */
    right: 20px; /* Asegurar que el carrito esté en el lado derecho */
    top: 0;
    bottom: 0;
    width: 50%; /* Establecer un ancho fijo para el carrito */
    background-color: #fff; /* Cambia el color de fondo según sea necesario */
    border-left: 1px solid #ccc; /* Agregar un borde izquierdo para separarlo del contenido principal */
    overflow-y: auto; /* Agregar desplazamiento vertical si el carrito se desborda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3; /* Asegurar que esté por encima de otros elementos */
    transition: right 0.3s ease;
    overflow-y: auto;
}

#cart h2 {
    text-align: center;
}
#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
#cart-total {
    font-weight: bold;
}
.cart-item-details{
    display: block;
    margin-top: 2%;
}
/* .box{
    display: flex;
    flex-direction: row;

} */
#contactForm{
    margin-left: 10%;
}
input{
    width: 70%;
    display: block;
}
.copyright{
    text-align: center;
    margin-top: 2%;
}
.register{
    width: 100%;
    margin: 5%;
}
.inputregister{
    width: 50%;
    margin-top: 2%;
        gap: 5%;
        margin: 5%;
        /* margin: auto; */
        overflow-x: hidden;
}
.formregister{
    display: flex;
    
}
.pic{
    width: 50%;
}
.imgpic{
    width: 70%;
}
.line{
        margin-top: 2%;
        border-top: 1px solid #8b8686;
}